/schemes/*
!/schemes/abnormalize
!/schemes/white-on-black
!/schemes/morphtype
!/schemes/unsweetened
!/schemes/silentmission
!/schemes/samplednight

/colors/*
!/colors/base16-abnormalize.vim
!/colors/base16-white-on-black.vim
!/colors/base16-morphtype.vim
!/colors/base16-unsweetened.vim
!/colors/base16-silentmission.vim
!/colors/base16-samplednight.vim

/sources
/sources.yaml
/templates
